<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


<div class="container text-center">
<h1>Your password is: </h1>
<h2 class="alert alert-success" id="myInp">{{password}}</h2>
<button class="btn btn-outline-info copy-btn" data-hex={{password}} >Copy</button>
    <br>
    <br>

<a href="{% url 'home' %}" class="btn btn-warning">Home</a>
</div>

<script type="text/javascript">

    console.log("hello World")

    const copyBtns = [...document.getElementsByClassName('copy-btn')]
    console.log(copyBtns)

    copyBtns.forEach(btn=> btn.addEventListener('click',()=>{
        console.log('click')
        const password = btn.getAttribute('data-hex')
        console.log(password)
        navigator.clipboard.writeText(password)
        btn.textContent = 'Copied'

    } ) )
</script>


